{%- comment -%}
  QR block on product page
{%- endcomment -%}

{%- assign app_base_url = "https://minority-frontpage-latitude-inclusive.trycloudflare.com" -%}
{%- comment -%} Above URL changes time to time because is is just a temporary tunnel for local development(Its not a fixdd domain){%- endcomment -%}


{%- comment -%} Wrapper for QR text + image {%- endcomment -%}
<div class="qr-demo-block" style="margin-top: 16px;">
  {%- comment -%} Small heading text {%- endcomment -%}
  <p
    class="qr-demo-heading"
    style="font-size: 14px; font-weight: 500; margin-bottom: 8px; color: red"
  >
    Scan this QR to buy from your phone
  </p>

  {%- comment -%}
    QR image from app:
    - shop.permanent_domain → shop domain
    - product.handle → matches productHandle in DB
  {%- endcomment -%}
  <img
    src="{{ app_base_url }}/qrcodes/image?shop={{ shop.permanent_domain | url_encode }}&handle={{ product.handle | url_encode }}"
    alt="QR code for {{ product.title | escape }}"
    loading="lazy"
    width="110px"
    height="110px"
    style="
      width: 110px;
      height: 110px;
      object-fit: contain;
      border-radius: 8px;
      border: 1px solid #e5e7eb;
      background: #ffffff;
      padding: 8px;
    "
  >
</div>

{%- comment -%} Block schema for theme editor {%- endcomment -%}
{% schema %}
{
  "name": "QR product block",
  "target": "section",
  "settings": []
}
{% endschema %}
